

  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <div fxLayoutAlign="center" fxFill class="card">
        <h1>1</h1>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="25px">
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>1</h1>
      </div>
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>1</h1>
      </div>
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>4</h1>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="50px">
      <div fxLayoutAlign="center" fxFlex class="card">
        <h1>5</h1>
      </div>
      <div fxLayoutAlign="center" fxFlex class="card">
        <h1>6</h1>
      </div>
    </div>
  </div>